@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/resource/MaterialDesign/fonts.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  src: url(/resource/MaterialDesign/Roboto-Regular.ttf);
}