<template>
  <label
    style="width: 100%;"
    class="mdc-text-field mdc-text-field--outlined"
    data-mdc-auto-init="MDCTextField"
  >
    <input
      class="mdc-text-field__input"
      type="date"
      required={required}
      min={min}
      max={max}
      disabled={disabled}
      onblur={onblur}
      oninput={oninput}
      aria-labelled-by="my-label-id"
      aria-controls="my-helper-id"
      aria-describedby="my-helper-id"
    />
    <span class="mdc-notched-outline" data-mdc-auto-init="MDCNotchedOutline">
      <span class="mdc-notched-outline__leading"></span>
      <template if:true={label}>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="my-label-id">{label}</span>
        </span>
      </template>
      <span class="mdc-notched-outline__trailing"></span>
    </span>
  </label>
  <div class="mdc-text-field-helper-line">
    <div
      class="mdc-text-field-helper-text"
      id="my-helper-id"
      aria-hidden="true"
    >
      {message}
    </div>
  </div>
</template>